<!DOCTYPE html>
<html>
	<head>
		<title>Ste's Blog</title>
	</head>
	<body>
		<div id="welcome">
			<h1>Welcome!</h1>
		</div>
			<div id="mainBody">
				<p>Hi there!</p><br>
				<p>Fantastic that you're here!</p><br>
			</div>
		 <div id="post1">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div id="post2">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
	</body>
</html>
